{% extends "layout.html" %}
{% block content %}
<form action="{{ url_for('predict') }}" method="post">
    

<h1>Choose Company</h1>
<select id = "conpaniesList" name="company">
{% for company in companies %}
<option value = {{company[0]}}>{{company[0]}}</option>
{% endfor %}
</select>
<input type="submit" name="Submit">
</form>
{% endblock content%}
