{% extends "layout.html" %}
{% block content %}

    

<h1>Prediction Results</h1>
<h2>{{company}}</h2>
<b>Recomendation: </b>{{recom}} <br/>

<b>ARIMA:</b> {{results['arima_txt']}}&nbsp;&nbsp;&nbsp; <a href="{{url_for('static', filename=plots['arima'])}}" target="_blank">Show prediction</a> <br/>
<b>LSTM:</b> {{results['lstm_txt']}}&nbsp;&nbsp;&nbsp; <a href="{{url_for('static', filename=plots['lstm'])}}" target="_blank">Show prediction</a><br/>
<!-- <b>Slow stochastic:</b> result["slst"] -->
<img src="{{url_for('static', filename=plots['trend'])}}" alt='trend'/>
{% endblock content%}
